VERSION=1.0.0
PORT=3345
LOG_LEVEL="info"
ENVIRONMENT="DEVELOPMENT"
CLEAR_TEMP="true"
MAX_PAGES=5
GRPC_PORT=33333
BASE_URL=/api/pdf-service

#ENVIRONMENT:
# - "DEVELOPMENT" in this mode uses local chrome engine
# - "PRODUCTION" in this mode uses preinstaled chrome engine in docker container


# Logging levels
#   error: 0,
#   warn: 1,
#   info: 2,
#   http: 3,
#   verbose: 4,
#   debug: 5,