node_modules/
logs/
.env
.idea
.vscode
.DS_Store
!pdf_files/
pdf_files/*
middlewares/generated/
output/

# Ігнорувати всі файли в каталозі styles
styles/*
deploy/*

# Але дозволити сам каталог styles
!styles/.gitkeep